*{
    margin: 0;
    padding: 0;
}

.navbar{
    visibility: hidden;
}
/* heading css */
.form-heading{
    margin-left: 66%;
    margin-top: 3%;
    color: #16A0A1;
    font-family: 'Times New Roman', Times, serif;
}

.small-heading{
    margin-left: 66.3%;
    margin-top: 0.5%;
    color: #16A0A1;
    font-family: 'Times New Roman', Times, serif;
}

/* image photo1 css*/
.photo1-img{
    margin-top: -10%;
    background-repeat: no-repeat;
    background-size: auto;
    width: 460px;
    margin-left: -1%;
    height: 686px;
}

.photo-heading{
    margin-top: -46%;
    margin-left: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.Travel-therapy{
    color: white;
    font-style: italic;
    font-size: 74%;
    margin-left: 12%;
    margin-top: 9%;
}

.travel-icon{
    width: 3%;
    margin-top: -90%;
    margin-left: 28%;
}

.Journey-everywhere{
    color: white;
    margin-top: 28%;
    margin-left: 20%;
}

.travelworld{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -3%;
    margin-left: 10%;
}

/* progress view css */


  .progress-view{
    margin-top: -28%;
    margin-left: 36%;
}

.circle1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #16A0A1;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 70%;
    margin-left: -0.1%;
    margin-top: -39%;
}

.login{
    margin-left: 5%;
    margin-top: -2.6%;
    color: #16A0A1;
    font-weight: bold;
}

.line1{
    width: 3%;
    transform: rotate(90deg);
    margin-left: 0.3%;
    margin-top: 0.1%;
    background-color: #16A0A1;
    height: 1px;
}

.circle2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #16A0A1;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 70%;
    margin-left: -0.1%;
    margin-top: 1.5%;
}

.Info{
    margin-left: 5%;
    margin-top: -2.6%;
    color: #16A0A1;
    font-weight: bold;
}

.line2{
    width: 2%;
    transform: rotate(90deg);
    margin-left: 0.7%;
    margin-top: 1.2%;
    background-color: #16A0A1;
    height: 1px;
}

.circle3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #16A0A1;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 70%;
    margin-left: -0.1%;
    margin-top: 1%;
}

.hotel{
    margin-left: 5%;
    margin-top: -2.6%;
    color: #16A0A1;
    font-weight: bold;
}

.line3{
    width: 2%;
    transform: rotate(90deg);
    margin-left: 0.7%;
    margin-top: 1.2%;
    background-color: #16A0A1;
    height: 1px;
}


.circle8{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #16A0A1;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 70%;
    margin-left: -0.1%;
    margin-top: 1%;
}

.review{
    margin-left: 5%;
    margin-top: -2.6%;
    color: #16A0A1;
    font-weight: bold;
}

.line8{
    width: 2%;
    transform: rotate(90deg);
    margin-left: 0.7%;
    margin-top: 1.2%;
    background-color: #16A0A1;
    height: 1px;
}

/* login box css */

.login-signup-box{
    margin-left: 80%;
    margin-top: -15%;
    /* width: 40%; */
}

.logiin{
    /* border: 1px solid black; */
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    margin-left: 55%;
    margin-top: -190px;
}

.login-text{
    text-align: center;
    border: 1px solid #16A0A1;
    padding: 6px;
    width: 56%;
}

.login-text > h2 > a {
    text-decoration: none;
    color: #16A0A1;
    text-align: center;
}

.logiin > img {
    width: 60%;
    background-size: cover;
}


/* sign in box css */
.signup-box{
    margin-left: 100%;
    margin-top: -18%;
    /* width: 10%; */
}

.signn{
    /* border: 1px solid black; */
    width: 20%;
    padding: 20px;
    border-radius: 20px;
    margin-left: 75%;
    margin-top: -24.3%;
}

.sign-text{
    text-align: center;
    border: 1px solid #16A0A1;
    padding: 5px;
    width: 86%;
}

.sign-text > h2 > a {
    text-decoration: none;
    color: #16A0A1;
}

.signn > img {
    width: 90%;
    background-size: cover;
}




@media only screen and (max-width : 600px){

    *{
        box-sizing: border-box;
    }

    body{
        font-size: 14px;
    }

.photo2 > img{
visibility: hidden;
}
    .photo2{
        width: 100%;
        height: 309px;
        background: url("./image/photoq.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: relative;
        margin-top: -10%;
        left: 0px;
        z-index: -1;
        /* overflow: hidden; */
    }

    .photo-heading{
        width: 175px;
        color: white;
        position: absolute;
        margin-top: -38%;
        margin-left: 20px;
        font-family: Inter;
        font-weight: Bold;
        font-size: 22px;
        z-index: 1;
        text-align: left;
        width: 100%;
    }
    

.icon > img{
    visibility: hidden;

}


   
   

    .travelworld{
        width: 100%;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 90px;
        left:  90px;
        font-family: 'Inknut Antiqua', serif;
        font-weight: Bold;
        font-size: 35px;
        opacity: 1;
        text-align: left;
    }

    .Travel-therapy{
        width: 260px;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 18%;
        left: 140px;
        font-family: Inter;
        font-weight: Italic;
        font-size: 20px;
        opacity: 1;
        text-align: left;
    }

    .form-heading{
        width: 180px;
  color: rgba(22,160,161,1);
  position: absolute;
  top: 270px;
  left: -25%;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
    }

    .small-heading{
        width: 152px;
        color: rgba(22,160,161,1);
        position: absolute;
        top: 320px;
        left: -24%;
        font-family: Inter;
        font-weight: Bold;
        font-size: 14px;
        opacity: 1;
        text-align: left;
    }

    .circle8{
        width: 46px;
  height: 39px;
  background: rgba(22,160,161,1);
  opacity: 1;
  position: absolute;
  top: 56.60%;
  left: 450px;
  border-radius: 50%;
    }
    

     .circle3{
        width: 46px;
        height: 39px;
        background: rgba(22,160,161,1);
        opacity: 1;
        position: absolute;
        margin-top: 0.10%;
        left: 290px;
        border-radius: 50%;
    }


    .circle2{
        width: 46px;
        height: 39px;
        background: rgba(22,160,161,1);
        opacity: 1;
        position: absolute;
        margin-top: -3.3%;
        left: 150px;
        border-radius: 50%;
    }

    .circle1{
        width: 46px;
        height: 39px;
        background: rgba(22,160,161,1);
        opacity: 1;
        position: absolute;
        margin-top: 4%;
        left: 28px;
        border-radius: 50%;
    }

    .progress-view{
        margin-left: 26%;
    }

    /* .line1 , .line2 , .line3{
        transform: rotate(180deg);
        margin-top: 5%;
        margin-left: -20%;
        width: 20%;
    } */

    .line1 {
        transform: rotate(180deg);
        margin-top: 5%;
        margin-left: -20%;
        width: 99%;
        height: 2px;
        
    }

    .line2{
       
        visibility: hidden;
    }

    .line3{
        
        visibility: hidden;
    }

    
   
.login{
    margin-top: 20%;
    margin-left: -30%;
    font-size: 14px;
}

.Info{
    margin-top: -9.5%;
    margin-left: -1%;
    font-size: 14px;

}

.hotel{
    margin-top: -5%;
    margin-left: 20%;
    font-size: 14px;
}

.review{
    margin-top: -5%;
    margin-left: 60%;
    width: 30%;
    font-size: 14px;
}

.logiin{
    margin-top: 20%;
    margin-left: 25%;
}
.logiin > img{
    width: 200%;
}

.login-text{
    width: 200%;
}

.signn{
    margin-top: 5%;
    margin-left: 25%;
}

.signn > img{
    width: 350%;
}

.sign-text{
    width: 350%;
}




}


