.Tittle2{
    margin-top: -24%;
    margin-left: 35%;
    font-size: 60px;
    text-align: center;
    color: #16A0A1;
}

.form-heading{
    margin-left: 59%;
}

.small-heading{
margin-left: 59.5%;
}

@media screen and (max-width: 768px){
    .Tittle2{
        margin-top: 5%;
        margin-left: 2%;
    }

    .form-heading{
        margin-left: 65%;
    }
    .small-heading{
        margin-left: 65%;
    }
}

@media screen and (max-width: 412px){
    .Tittle2{
        font-size: 50px;
    }

    
    .form-heading{
        margin-left: 60%;
    }
    .small-heading{
        margin-left: 60%;
    }
}